/*input[type=text].jQKeyboard.focus,
textarea.jQKeyboard.focus{
    outline: 0;
    border-color: #2a67b0;
    box-shadow: 0 0 10px #2a67b0;
    transition-property: border-color,box-shadow
}*/

div.jQKeyboardContainer{
    display: table;
    border-radius: 6px;
    padding: 4px;
}

div.jQKeyboardContainer {
     width: 84.5%;
     transform: scale(1.37);
    position: absolute;
    bottom: 0;
    top: 55px;
    background: rgba(255, 255, 255, 1);
    padding: 34px 0px;
    z-index: 10000;
    padding-top: 70px;
    font-family: 'Bike Sans';
}

div.jQKeyboardRow{
    display: inline-block;
    position: relative;
    width: 85%;
    left: 127px;
    text-align: center;
    height: 39px;
    margin: auto;
}

button.jQKeyboardBtn{
    color: black;
    background: white;
    line-height: 2.25em;
    min-width: 36px;
    margin: 0 2px;
    padding: 1px 6px 1px 6px;
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    outline: none;
    cursor: pointer; 
}

button.jQKeyboardBtn:hover{
    background: black;
    color: white;

}

button.jQKeyboardBtn:active,
button.jQKeyboardBtn.shift-active{
    background: #45b848;
}

button.jQKeyboardBtn.disabled{
    color: #d9d9d9;
    background: #5e626e;
    background-image: -ms-linear-gradient(#939393, #939393);
    background-image: -webkit-linear-gradient(#939393, #939393);
    opacity: 0.9;
    filter: alpha(opacity=90);
}

button.jQKeyboardBtn.ui-button-colspan-0{
    width: 48px;
}

button.jQKeyboardBtn.ui-button-colspan-2{
    width: 72px;
}

button.jQKeyboardBtn.ui-button-colspan-3{
    width: 96px;
}

button.jQKeyboardBtn.ui-button-colspan-4{
    width: 120px;
}

button.jQKeyboardBtn.ui-button-colspan-5{
    width: 144px;
}

button.jQKeyboardBtn.ui-button-colspan-6{
    width: 168px;
}

button.jQKeyboardBtn.ui-button-colspan-7{
    width: 192px;
}

button.jQKeyboardBtn.ui-button-colspan-8{
    width: 216px;
}

button.jQKeyboardBtn.ui-button-colspan-8{
    width: 240px;
}

button.jQKeyboardBtn.ui-button-colspan-9{
    width: 268px;
}

button.jQKeyboardBtn.ui-button-colspan-10{
    width: 292px;
}

button.jQKeyboardBtn.ui-button-colspan-11{
    width: 316px;
}

button.jQKeyboardBtn.ui-button-colspan-12{
    width: 340px;
}